<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

</head>
<body>
<form th:action="@{/registration}" th:object="${userForm}" method="post">
    <label>Username</label>
    <input type="text" th:field="*{username}">
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{name}"></span>
    <label>Password</label>
    <input type="password" th:field="*{password}">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    <label>Confirm password</label>
    <input type="password" th:field="*{confirmPassword}">
    <span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
    <input type="submit" value="Add User">
</form>
</body>
</html>